table {
	border: 2px solid black;
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid grey;
}

th {
	border-right: 1px solid grey;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	max-width: 300px;
	overflow: hidden
;
}

td {
	border-right: 1px solid grey;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	max-width: 300px;
	overflow: hidden;
}

thead {
	background: darkgrey;
	border-bottom: 2px solid black;
}
