.LeftPane {
    text-align: center;
    float: left;
    width: 15%;
    background-color: #555;
    height: 100vh;
    color: white;
}

.LogoAndTitle {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.LeftPaneLogo {
    animation: LeftPane-logo-spin infinite 20s linear;
    height: 60px;
    width: 75px;
    float: left;
    vertical-align: middle;
    margin-left: -40px;
}

.LeftPaneTitle {
    float: left;
}

.tablesButtons {
    margin: 5px;
    padding: 10px;
    width: 80%;
    max-width: 90%;
    word-wrap: break-word;
}

.indent {
    margin-left: 20%;
    width: 60%;
}

@keyframes LeftPane-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
