.leftPane {
    text-align: center;
    float: left;
    width: 16%;
    background-color: #aaa;
    min-height: 100vh;
    color: white;
}

.tablesButtons {
    margin: 5px;
    padding: 10px;
    width: 95%;
    max-width: 95%;
    word-wrap: break-word;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 1.6vh;
    background-image: url("../resources/table.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 35px;
    background-position: 2%;
    display: block;
}

.tablesButtons:hover {
    background: grey;
    background-image: url("../resources/table.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-position: 2.5%;
    padding-left: 35px;
}

.columnsButtons {
    margin: 5px;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 80%;
    max-width: 80%;
    word-wrap: break-word;
    background: none;
    border: none;
    text-align: left;
    margin-left: 40px;
    font-size: 1.5vh;
    background-image: url("../resources/eye.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left center;
    padding-left: 35px;
    background-position: 2%;
}

.indent {
    margin-left: 20%;
    width: 60%;
}

.fontSize8 {
    font-size: 8pt;
}
