.MiddlePane {
	text-align: left;
	float: left;
	width: 75%;
	background: #33e;
}

.MiddlePaneInner {
	margin: 10px;
}

.MiddlePane-intro {
	font-size: large;
}

.leDivs {
}

.queryBuilder {
	width: 80%;
}